#app {
  background: white;
}

/*Header*/
#app-header {
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 64px;
  align-items: center;
  background: black;
}

#app-logo {
  font-size: 1.5em;
  padding-left: 20px;
  color: #00d8ff;
}
