html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, li, ul, body, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

select {
  outline: none;
}

